body {
    margin: 0;
    font-family: sans-serif, Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9fc;
}

.calculator {
    background-color: #1f1d1d;
    padding: 20px;
    width: 345px;
}

.display {
    background-color: #333a75;
    color: white;
    font-size: 2rem;
    padding: 20px;
    border-radius: 20px;
    text-align: right;
    margin-bottom: 20px;
    height: 30px;
    overflow: auto hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.btn {
    font-size: 1.8rem;
    border: none;
    background-color: #3f3f57;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.number, .cancel {
    padding: 5px 18px;
    border-radius: 40%;
}

.btn:hover {
    background-color: #505080;
}

.operator {
    border-radius: 50%;
    background-color: #f59607;
}

.operator:hover {
    background-color: #ff9800;
}

.equal {
    grid-column: span 2;
    background-color: #bdbdbd;
    color: black;
    border-radius: 30px;
}

@media screen and (max-width: 400px) {
    .calculator {
        width: 85%;
    }
}